<section class="hero">
    <div class="hero__container">
        <div class="hero__container-box">
            <div class="hero__container-box-description">
                <p class="hero__conainer-box-description-label">{{label}}</p>
                <h1 class="hero__container-box-description-title">{{title}}</h1>
                <p class="hero__container-box-description-text">{{text}}</p>
                <a class="hero__container-box-description-btn" href="#">{{btn}}</a>
            </div>
            <img class="hero__container-box-image" src={{img}} alt="loremipsum">
        </div>
    </div>
</section>