<section class="pricing">
    <div class="pricing__container">
        <div class="pricing__container-head">
            <h1 class="pricing__container-head-title">{{title}}</h1>
            <p class="pricing__container-head-subtitle">{{subtitle}}</p>
        </div>
        <div class="pricing__container-body">
            <h1 class="pricing__container-body-label">{{label}}</h1>
            <p class="pricing__container-body-clients">{{nbclients}}</p>
            <p class="pricing__container-body-text">{{text}}</p>
            <a class="pricing__container-body-btn" href="#">{{btn}}</a>
        </div>
    </div>
</section>