@import url("/css/reset.css");
@import url("/css/variables.css");

.contactl2{
    padding: 6.25rem 19.7rem 6.25rem 19.7rem;
    font-family: var(--text-font);
    font-style: normal;
    background-image: url('/assets/contactl2/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.contactl2__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactl2__container-head{
    margin-bottom: 4.13rem;
    text-align: center;
    color: var(--color-white);
}

.contactl2__container-head-title{
    font-size: 2.625rem;
    font-weight: 700;
    line-height: 3.25rem;
    letter-spacing: -0.025rem;
}

.contactl2__container-head-text{
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 2rem; 
}

.contactl2__container-form{
    display: flex;
    flex-direction: row;
    margin-bottom: 3.75rem;
    opacity: 0.4;
}

.contactl2__container-form-info{
    display: flex;
    flex-direction: column; 
    border-radius: 6.25rem;
}

.contactl2__container-form-info-name{
    margin-bottom: 1.88rem; 
    width: 16.8125rem;
    height: 3.75rem;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.625rem;
    color: var(--color-white);
    background-color: transparent;
}

.contactl2__container-form-info-mail {
    width: 16.8125rem;
    height: 3.75rem;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.625rem;
    color: var(--color-white);
    background-color: transparent;
}

.contactl2__container-form-message{
    width: 29.3125rem;
    height: 9.375rem;
    border-radius: 0.625rem;
    border: 2px solid var(--color-white);
    color: var(--color-white);
    background-color: transparent;
}

.contactl2__container-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.55rem 2.88rem;
    width: fit-content;
    height: 3.75rem;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.625rem;
    border-radius: 6.25rem;
    color: var(--color-white);
    background-color: var(--color-green-button);
}