<section class="contactl2">
   <div class="contactl2__container">
        <div class="contactl2__container-head">
            <h1 class="contactl2__container-head-title">{{title}}</h1>
            <p class="contactl2__container-head-text">{{text}}</p>
        </div>
        <div class="contactl2__container-form">
            <div class="contactl2__container-form-info">
                <input type="text" name="name" class="contactl2__container-form-info-name" placeholder="{{name}}">
                <input type="text" name="mail" class="contactl2__container-form-info-mail" placeholder="{{mail}}">
            </div>
            <input type="text" name="message" class="contactl2__container-form-message" placeholder="{{message}}">
        </div>
        <a class="contactl2__container-btn" href="#">{{btn}}</a>
    </div>
</section>