@import url("/css/reset.css");
@import url("/css/base.css");

.calltoactionv2{
    padding: 1.81rem 0 2.44rem 0;
    background-color: var(--color-green-button);
}

.calltoactionv2__container-text{
    text-align: center;
    font-family: var(--text-font);
    font-style: normal;
    font-size: 2.625rem;
    font-weight: 700;
    line-height: 3.25rem;
    letter-spacing: -0.025rem;
    color: var(--color-white)
}