<section class="testimonial">
    <div class="testimonial__container">
        <h1 class="testimonial__container-title">{{title}}</h1>
        <div class="testimonial__container-profile">
            <img class="testimonial__container-profile-img" src="{{img}}" alt="">
            <div class="testimonial__container-profile-description">
                <p class="testimonial__container-profile-description-text">
                    {{text}}
                </p>
                <p class="testimonial__container-profile-description-name">{{name}}</p>
                <p class="testimonial__container-profile-description-brand">{{brand}}</p>
            </div>
        </div>
    </div>
</section>